<f:layout name="Default" />
<f:section name="Main">



    <f:render partial="NurAmRande" />

    <div class="container">
        <div class="row">
            <!--Bilder & Videos-->
            <div class="bilder">
                <h2>Bilder & Videos</h2>
                <ul>
                    <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="block">
                            <figure><img src="images/img1.jpg" alt="img"></figure>
                            <p><img src="images/icon1.svg" alt="img"> Wer erinnert sich noch? Danny Hart's 2011 World
                                Championship Winning Run</p>
                        </div>
                    </li>
                    <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="block">
                            <figure><img src="images/img2.jpg" alt="img"></figure>
                            <p><img src="images/icon2.svg" alt="img"> Das neue TREK Stash 2016 ist bei uns eingetroffen!
                                Kommt auf eine Testfahrt vorbei!</p>
                        </div>
                    </li>
                    <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 d-sm-none d-md-block">
                        <div class="block">
                            <figure><img src="images/img3.jpg" alt="img"></figure>
                            <p><img src="images/icon2.svg" alt="img"> Bilder zur Thüringer Waldtour 2016, dieses Jahr
                                ist kein Schuh trocken geblieben.</p>
                        </div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <!--Bilder & Videos end-->
        </div>
    </div>
    <!--banner end-->


</f:section>