<!-- Wrapper Starts -->
<div class="wrapper">
    <!--header-->
    <header class="header">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <p>RADSCHEUNE Bike & Outdoor // Seid gegrüßt</p>
                </div>
            </div>
        </div>
        <div class="main-nav">
            <div class="container">
                <div class="row">

                    <nav class="navbar navbar-toggleable-sm navbar-light">
                        <button class="navbar-toggler navbar-toggler-right nav-icon" type="button"
                                data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false">

                            <span></span><span></span><span></span>
                        </button>


                        <a class="navbar-brand" href="#"><img src="images/bildmaterial-16.svg" width="64" height="62"
                                                              alt=""></a>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Fahrrad</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Outdoor</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Werkstatt</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Service</a>
                                </li>
                                <li class="nav-item d-sm-block d-md-none">
                                    <ul class="rande_block1">
                                        <li><a class="nav-link" href="#">Über uns</a></li>
                                        <li><a class="nav-link" href="#">Bilder & Videos</a></li>
                                        <li><a class="nav-link" href="#">Projekte & Partner</a></li>
                                        <li><a class="nav-link" href="#">Anfahrt & Kontakt</a></li>
                                        <li><a class="nav-link" href="#">Impressum</a></li>
                                    </ul>

                                    <h6>Öffnungszeiten</h6>
                                    <span>Mo - Fr: 10 - 19 Uhr<br> Sa: 10 - 14 Uhr</span>
                                    <h6>Telefon</h6>
                                    <span>0361  41 33 86</span>

                                </li>
                            </ul>
                            <div class="form-inline hidden-sm-down">
                                <a href="#" class="bil1"><img src="images/bildmaterial-1.svg" width="68" height="31"
                                                              alt=""></a>
                                <a href="#" class="bil2"><img src="images/bildmaterial-2.svg" width="68" height="31"
                                                              alt=""></a>
                            </div>
                        </div>
                    </nav>


                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>
    <!--header end-->

    <f:render section="Main" />

    <!--footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="fot_left">
                    <form>
                        <label>Newsletter – kein Event mehr verpassen!</label>
                        <input type="text" class="text_fld" value="Deine Emailadresse"
                               onfocus="if (this.value == 'Deine Emailadresse') (this.value='')"
                               onblur="if (this.value == '') (this.value='Deine Emailadresse')">
                        <button type="submit" class="btn">Senden</button>
                    </form>
                </div>
                <div class="icons">
                    <a href="#"><img src="images/fb.svg" width="32" height="32" alt="img"></a>
                    <a href="#"><img src="images/youtub.svg" width="32" height="32" alt="img"></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </footer>
    <!--footer end-->

</div>