<!doctype html>
<html lang="de-DE">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<title>radscheune2016.businesscatalyst</title>
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
<!-- SET: STYLESHEET -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
<!-- END: STYLESHEET -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<style>
</style>
<![endif]-->

</head>
<body>
<!-- Wrapper Starts -->
<div class="wrapper">
    <!--header-->
    <header class="header">
    <div class="top-header">
    	<div class="container">
        	<div class="row">
            	<p>RADSCHEUNE Bike & Outdoor // Seid gegrüßt</p>
            </div>
        </div>
    </div>
    <div class="main-nav">    
      <div class="container">
      <div class="row">
          
      <nav class="navbar navbar-toggleable-sm navbar-light">
  <button class="navbar-toggler navbar-toggler-right nav-icon" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
  
    <span></span><span></span><span></span> 
  </button>
  
   
  <a class="navbar-brand" href="#"><img src="images/bildmaterial-16.svg" width="64" height="62" alt=""></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Fahrrad</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Outdoor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Werkstatt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Service</a>
      </li>
      <li class="nav-item d-sm-block d-md-none">
                <ul class="rande_block1">
                	<li><a class="nav-link" href="#">Über uns</a></li>
                    <li><a class="nav-link" href="#">Bilder & Videos</a></li>
                    <li><a class="nav-link" href="#">Projekte & Partner</a></li>
                    <li><a class="nav-link" href="#">Anfahrt & Kontakt</a></li>
                    <li><a class="nav-link" href="#">Impressum</a></li>
                </ul>
                
                <h6>Öffnungszeiten</h6>
                <span>Mo - Fr: 10 - 19 Uhr<br> Sa: 10 - 14 Uhr</span>
                <h6>Telefon</h6>
                <span>0361  41 33 86</span>

      </li>
    </ul>
    <div class="form-inline hidden-sm-down">
      <a href="#" class="bil1"><img src="images/bildmaterial-1.svg" width="68" height="31" alt=""></a>
      <a href="#" class="bil2"><img src="images/bildmaterial-2.svg" width="68" height="31" alt=""></a>
    </div>
  </div>
</nav>  
        
            
        </div>
        <div class="clear"></div>
      </div>
      </div>
    </header>
    <!--header end-->

 <!--banner-->
 
	<div class="banner">
    <div class="container">
     <div class="row">
    	<div class="banner-in">
        	<figure><img src="images/banner.jpg" alt=""></figure>
            <div class="rande_block hidden-sm-down">
            	<h3>NUR AM RANDE</h3>
                <ul>
                	<li><a href="#">• Über uns</a></li>
                    <li><a href="#">• Bilder & Videos</a></li>
                    <li><a href="#">• Projekte & Partner</a></li>
                    <li><a href="#">• Anfahrt & Kontakt</a></li>
                    <li><a href="#">• Impressum</a></li>
                </ul>
                
                <h6>Öffnungszeiten</h6>
                <span>Mo - Fr: 10 - 19 Uhr<br> Sa: 10 - 14 Uhr</span>
                <h6>Telefon</h6>
                <span>0361  41 33 86</span>

                <div class="icons">
                	<a href="#"><img src="images/fb.svg" width="32" height="32" alt="img"></a>
                    <a href="#"><img src="images/youtub.svg" width="32" height="32" alt="img"></a>
                    <a href="#"><img src="images/massge.svg" width="32" height="32" alt="img"></a>
                </div>
            </div>
    	</div>
    </div>
    </div>
    </div>
    <div class="container">
     <div class="row">
 	<!--Bilder & Videos-->
    	<div class="bilder">
        	<h2>Bilder & Videos</h2>
            <ul>
            	<li class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                	<div class="block">
                        <figure><img src="images/img1.jpg" alt="img"></figure>
                        <p><img src="images/icon1.svg" alt="img"> Wer erinnert sich noch? Danny Hart's 2011 World Championship Winning Run</p>
                    </div>
                </li>
                <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                	<div class="block">
                        <figure><img src="images/img2.jpg" alt="img"></figure>
                        <p><img src="images/icon2.svg" alt="img"> Das neue TREK Stash 2016 ist bei uns eingetroffen!  Kommt auf  eine Testfahrt vorbei!</p>
                    </div>
                </li>
                <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 d-sm-none d-md-block">
                	<div class="block">
                        <figure><img src="images/img3.jpg" alt="img"></figure>
                        <p><img src="images/icon2.svg" alt="img"> Bilder zur Thüringer Waldtour 2016, dieses Jahr ist kein Schuh trocken geblieben.</p>
                    </div>
                </li>
            </ul>
        <div class="clear"></div>
        </div>
    <!--Bilder & Videos end-->
 </div>
 </div>
 <!--banner end-->
   
  <!--footer-->
     <footer class="footer">
        <div class="container">
			<div class="row">
            	<div class="fot_left">
            	<form>
            	<label>Newsletter – kein Event mehr verpassen!</label>
                <input type="text" class="text_fld" value="Deine Emailadresse" onfocus="if (this.value == 'Deine Emailadresse') (this.value='')" onblur="if (this.value == '') (this.value='Deine Emailadresse')">
                <button type="submit" class="btn">Senden</button>
                </form>
                </div>
                <div class="icons">
                	<a href="#"><img src="images/fb.svg" width="32" height="32" alt="img"></a>
                    <a href="#"><img src="images/youtub.svg" width="32" height="32" alt="img"></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
     </footer>
  <!--footer end-->

</div>
<!-- SET: SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
   
});

    </script>
<!-- END: SCRIPTS -->
</body>
</html>