@import "global.scss";
/*-------INDEX ----*/
/*-------banner-section----*/
.banner{display:block; width:100%; margin:0; padding:0;
@include media-breakpoint-down(lg){.container{ width:100%; padding:0;}}
}

.banner-in{display:table; margin:0; padding:0;
 img{width:100%; height:700px; object-fit:cover;
@include media-breakpoint-down(xs){height:400px;} 
 }
}

.rande_block{position:absolute; right:0;top:40px; background:rgba(255, 255, 255, 0.84); padding:30px 30px; width:217px;
	h3{font-size:16px; color:$black_dark; line-height:24px; font-weight:600;}
	ul{margin:0 0 20px 0;
		li{
			a{font-size:14px; color:$black_dark;
				&:hover{color:$green;}	
			}	
			}	
		}
		
		h6{font-size:14px; color:$black_dark; line-height:24px; font-weight:600;}
		span{font-size:14px; color:$black_dark; line-height:24px; font-weight:normal; margin:0 0 20px 0; display:block;}
		
		.icons{float:none;}
}


.bilder{display:block; padding:30px 0;
	h2{display:block; font-size:20px; margin:0 0 12px; color:$black_dark;  font-weight:600;}
	ul{ margin:0 -15px;
		@include media-breakpoint-down(sm){margin:0 -10px;}
		li{display:inline-block; margin:0 0 20px 0; padding:0 15px; float:left;
		@include media-breakpoint-down(sm){padding:0 10px;}	
		}	
		}
}
.block{display:block;
	img{width:100%; height:211px;object-fit:cover; opacity:0.8;}
	p{display:block; padding:8px 0 0 30px;margin:0; font-size:15px; color:$black_dark; font-weight:400; line-height:20px;
		 img{width:25px; height:25px; margin:-3px 0 0 -30px; opacity:1; float:left;}	
	}
	&:hover p{color:$green;}
	&:hover img{opacity:1;}
	
}
/*******inner1********/
.inner-main{padding:30px 0;
	h4{font-size:17px; font-weight:400; color:$green; margin:0 0 20px; display:block;}
	}
.left-section{padding:0; float:left;
@include media-breakpoint-down(xs){text-align:center; margin:0 0 30px;}
	h2{font-size:19px; font-weight:700; color:$black_dark; background:#F6F6F6; padding:10px 15px; margin:0 0 5px;
		@include media-breakpoint-down(xs){text-align:center; cursor:pointer;
			&:hover{background:$green;color:$white;}	
		}
		@include media-breakpoint-down(xs){
		&.active{background:url(../images/close-menu.png) no-repeat 95% center $green; color:$white;}
		}
	}
	.list{margin:0 0 30px;
	@include media-breakpoint-down(xs){margin:0 0 10px;}
	ul{
		
		@include media-breakpoint-down(xs){display:none;}
		
		li{display:block;
			a{font-size:17px; color:$black_dark; font-weight:normal; display:block; padding:5px 15px;
				&:hover, &.active{background:$green; color:$white;}	
			}	
			}	
		}
	}
		
	}

.right-section{padding:0 30px; float:left;
@include media-breakpoint-down(xs){padding:0 0px;}
	.content{margin:0 0 30px;
		h2{font-size:30px; font-weight:700; color:$black_dark;padding:0; margin:0 0 10px;}
		h3{font-size:30px; font-weight:normal; color:$black_dark;padding:0; margin:-5px 0 10px;}
		p{font-size:17px; line-height:25px; color:$black_dark; font-weight:300;}
		}
		
		.items{border-top:2px solid #F6F6F6; padding:30px 0; margin:30px 0 0; display:inline-block;
			ul{
				li{display:inline-block; border-bottom:2px solid #F6F6F6; padding:0 0 20px; width:48%;
					a{
						figure{padding:0; opacity:0.7;
						img{width:100%; height:auto; margin:0 0 30px;}
						}
						strong{font-weight:600; font-size:17px;color:$black_dark; display:block;}
						span{font-weight:400; font-size:17px;color:$black_dark;}	
						}
						&:hover strong, &:hover span, &:hover figure{color:$green; opacity:1;}
					}	
				}	
			}	
	}

/*******inner2********/
.details{display:block; margin:50px 0 0;
	h6{display:block; font-size:20px; color:$black_dark; font-weight:600; margin:0 0 20px;}
	ul{
		li{border-top:2px solid #F6F6F6; display:block; padding:5px 0;
			span{display:inline-block; font-size:17px; color:$black_dark; font-weight:400;
				img{max-width:100%; height:auto;}	
				@include media-breakpoint-down(sm){padding:0;}
			}	
			}	
		}
}

.gelerry-section{display:block;border-top:2px solid #F6F6F6; padding:20px 0; margin:30px 0;
	.left-block{display:inline-block; float:left;
		img{max-width:100%; max-height:auto;}	
	}
	.thamb_block {display:inline-block; float:right; width:78px;
	@include media-breakpoint-down(xs){width:100%;}
		ul{
			li{ margin:10px 0 10px; display:inline-block; width:78px;
			@include media-breakpoint-down(xs){padding:10px 10px; margin:0; width:24%;}
				a{display:block;position:relative;
				img{width:100%; height:auto;}
				
				&:hover :after{content:''; display:inline-block; width:100%; height:100%; background:url(../images/eye%20icon.png) no-repeat center center $green; position:absolute; left:0; top:0; opacity:0.7;}
				}	
				}	
			}	
	}
}

.small-title{color:$green; margin:-40px 0 20px; display:block;
@include media-breakpoint-down(xs){margin:0px 0 20px; }
}
.small-title1{color:$green;}

.imge{padding:57px 0 !important; background:#F6F6F6; width:21%;
@include media-breakpoint-down(sm){width:auto; margin:0 0 20px;}
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}