$font-family_1: 'Roboto', sans-serif;

$white:#ffffff;
$black:#1F1F1F;
$black_dark:#000000;
$green:#84C491;

$desk_big:1900px;
$desk_desk:1500px;
$desk_lg:1300px;
$desk_md:1199px;
$tab_sm:991px;
$tab_xs:767px;
$mob_land:575px;
$mob_pot:479px;

/* Bootstrap Select Drop Down */
$color-red-error: rgb(185, 74, 72);
$color-grey-arrow: rgba(204, 204, 204, 0.2);
$width-default: 220px;
$zindex-select-dropdown: 1060;
$input-color-placeholder: #999;














