@import "bootstrap.scss";
@import "variable.scss";
@import "mixins.scss";
@import "header.scss";

/*-------INDEX ----*/
/*====================================== reset.css is here ========================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table {	border-collapse:collapse; border-spacing:0;}
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,th,var {font-style:normal; font-weight:normal;}
ol,ul { list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {	font-size:100%;	font-weight:bold;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
.clear{clear:both; font-size:1px;line-height:1px; display:block; height:0;}
.clrflt{clear:both;}
.last	{margin:0 !important;}
.pad_last{padding:0 !important;}
.no_bg {background:none !important;}
.no_bor{border:none !important; }
*{box-sizing:border-box; }
/**************************************************************************************/
a				{color:#000; text-decoration:none; outline:0 none;-webkit-transition: .3s ease-in-out;-moz-transition: .3s ease-in-out;-o-transition: .3s ease-in-out;transition: .3s ease-in-out;}
a:hover			{color:#000;  text-decoration:none;}
h1				{font-size:24px;}
h2				{font-size:22px;}
h3				{font-size:18px;}
h4				{font-size:16px;}
h5				{font-size:14px;}
h6				{font-size:12px;}
em{font-style:italic;}
/*----------------------------------------------------------------------------------*/
html			{}
body			{color:#b1b1b1; font-family: 'Source Sans Pro', sans-serif; font-size:12px;background:$white;}
.flt_lt			{float:left !important; display:inline;}
.flt_rt			{float:right !important; display:inline;}
a:hover, a:focus{text-decoration:none; outline:0 none;}
figure {margin:0;padding:0;}
header,nav,section,article,aside,footer,hgroup {display: block;}
input{ -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none;-o-appearance: none; appearance: none; border-radius:0; }
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
.wrapper { margin:0 auto;width:100%; padding:0; position:relative; left:0;-webkit-transition: .3s ease-in-out;-moz-transition: .3s ease-in-out;-o-transition: .3s ease-in-out;transition: .3s ease-in-out;}
.container{display:block; margin:0 auto; width:1200px;padding:0;
@include media-breakpoint-down(lg){width:100%; padding:0 15px;}
}
.row{margin:0;display:block;}

/*----------------------------------------------------------------------------------*/

.footer{background:$green; padding:30px 0;
@include media-breakpoint-down(sm){text-align:center;}	
}
.fot_left{ float:left;
@include media-breakpoint-down(sm){text-align:center; float:none;}	
  label{font-size:17px; color:$white; font-weight:600; margin:0 20px 0 0;
 	@include media-breakpoint-down(sm){text-align:center; display:block; margin:0 0 20px;}	 
  }
  .btn{padding:8px 10px; margin:-3px 0 0; font-size:15px; color:$white; text-align: center; border:0;background: #44E49D;border-radius: 5px;font-weight: 600; cursor:pointer;}
.text_fld{display:inline-block; margin:0; padding:5px 10px; border:0; box-shadow:none; background:$white; text-align:center; font-size:15px; color:$green;
@include media-breakpoint-down(sm){margin:0 0 11px 0;}	
}
}
.icons{ float:right;
@include media-breakpoint-down(sm){text-align:center; float:none; margin:20px 0 0;}	
	a{display:inline-block; margin:0 0 0 5px; opacity:0.8;
		&:hover{opacity:1;}
		img{height:32px !important; width:32px !important;}	
	}	
	}