<div class="banner">
    <div class="container">
        <div class="row">
            <div class="banner-in">
                <figure><img src="images/banner.jpg" alt=""></figure>
                <div class="rande_block hidden-sm-down">
                    <h3>NUR AM RANDE</h3>
                    <ul>
                        <li><a href="#">• Über uns</a></li>
                        <li><a href="#">• Bilder & Videos</a></li>
                        <li><a href="#">• Projekte & Partner</a></li>
                        <li><a href="#">• Anfahrt & Kontakt</a></li>
                        <li><a href="#">• Impressum</a></li>
                    </ul>

                    <h6>Öffnungszeiten</h6>
                    <span>Mo - Fr: 10 - 19 Uhr<br> Sa: 10 - 14 Uhr</span>
                    <h6>Telefon</h6>
                    <span>0361  41 33 86</span>

                    <div class="icons">
                        <a href="#"><img src="images/fb.svg" width="32" height="32" alt="img"></a>
                        <a href="#"><img src="images/youtub.svg" width="32" height="32" alt="img"></a>
                        <a href="#"><img src="images/massge.svg" width="32" height="32" alt="img"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>